<!DOCTYPE HTML>
<html>
	<head>
		<title>Menu</title>
		<meta charset="utf-8" />

		<style  type='text/css'>
			@font-face {
			  font-family: "AVP";
			  src: url('../polices/police4.ttf');
			}
		    body{
				margin: 0;
				font-family: AVP;
			}
			.atome{
    			border:none;
    			border-radius: none;
				opacity: 0.2;
			}
		  </style> 
</head>
<body>

</body>

</body>
	<script src="../js/jquery-3.4.1.js"></script>
	<script src="../js/phaser.min.js"></script>
	<script src="js/atome.js"></script>
	<script src="../js/MainMenu.js"></script>
	<script src="../js/OptionMenu.js"></script>
	<script src="../js/accueil.js"></script>
	<script src="../js/ChoixPerso.js"></script>
	<script src="../js/GameScene.js"></script>
	<script src="../js/Verification.js"></script>
    <script src="../js/Init.js"></script>
</html>
